{% extends 'pkfrance/base.html' %}

{% block content %}
    <div class="container mt-3">
        {% for article in object_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4 m-auto">
                            <a href="{{ article.get_absolute_url }}">
                                <img class="img-fluid rounded " src="{{ article.image.url }}" alt="{{ article.title }}">
                            </a>
                        </div>
                        <div class="col-lg-8">
                            <h2 class="card-title">
                                {{ article.title }}
                            </h2>
                            <p class="card-text">{{ article.summary }}
                                <a href="{{ article.get_absolute_url }}" class="btn btn-link ml-3 p-0">Voir plus</a>
                            </p>

                            Poster le {{ article.date|date }} par <em>{{ article.author }}</em>

                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}