<hr class="w-50">

<div class="container">
    <h2 class="text-center pt-4 pb-4" id="dinofact">DINOFACT</h2>

    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img class="card-img-top" src="{{ fact.image.url }}" alt="image dinosaure">
                </div>
                <div class="col-md-8 m-auto">
                    <table>
                        <thead>
                        <tr>
                            <th>

                                <blockquote class="blockquote mb-0 ">
                                    <h4>{{ fact.body }}</h4>
                                </blockquote>
                            </th>
                            <th>
                                <a onclick="dino_fact()" class="btn btn-link">
                                    <i class="fas fa-2x fa-arrow-right"></i>
                                </a>
                            </th>
                        </tr>
                        </thead>
                    </table>

                </div>

            </div>
        </div>
    </div>


</div>