{% extends 'pkfrance/base.html' %}

{% block title %}{{ object.title }}{% endblock %}

{% block description %}{{ object.summary }}{% endblock %}

{% block on-index %}{% endblock %} <!-- enable indexing -->


{% block content %}
    <div class="container mt-3">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="text-center mb-5">
            {{ object.title }}
        </h1>

        <div class="text-center">
            <img class="img-fluid rounded" src="{{ object.image_max.url }}" alt="{{ object.title }}" width="100%">
        </div>

        <div class="lead container">
            {{ object.body|safe }}
        </div>

        <p class="text-right mt-5">Posté par <em>{{ object.author }}</em> le {{ object.date|date }}</p>

    </div>
{% endblock %}
