{% extends 'pkfrance/base.html' %}
{% load static %}

{% block title %}Communauté francais de prehistoric kingdom{% endblock %}

{% block description %}
    Prehistoric Kingdom est le jeu de gestion ultime d’un parc à dinosaures.
    Personnalisez à l’infini votre parc avec des dizaines d’espèces d’animaux disparus.
{% endblock %}

{% block on-index %}{% endblock %} <!-- enable indexing -->

{% block head %}
    <link rel="stylesheet" href="{% static 'css/timeline.min.css' %}">
{% endblock %}

{% block content %}
    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" style="background-image: url('{% static 'img/gallery/1.jpg' %}')">
                </div>

                <div class="carousel-item" style="background-image: url('{% static 'img/gallery/2.jpg' %}')">
                </div>

                <div class="carousel-item" style="background-image: url('{% static 'img/gallery/3.jpg' %}')">
                </div>

                <div class="carousel-item" style="background-image: url('{% static 'img/gallery/4.jpg' %}')">
                </div>

                <div class="carousel-item" style="background-image: url('{% static 'img/gallery/5.jpg' %}')">
                </div>

                <div class="carousel-item" style="background-image: url('{% static 'img/gallery/6.jpg' %}')">
                </div>

                <div class="carousel-item" style="background-image: url('{% static 'img/gallery/7.jpg' %}')">
                </div>

                <div class="carousel-item" style="background-image: url('{% static 'img/gallery/8.jpg' %}')">
                </div>

                <div class="carousel-item" style="background-image: url('{% static 'img/gallery/9.jpg' %}')">
                </div>

                <div class="carousel-item" style="background-image: url('{% static 'img/gallery/10.jpg' %}')">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>

    <div class="container pb-4">

        <h1 class="mt-5 mb-5 text-center text-blue" id="about">
            Prehistoric Kingdom est le jeu de gestion ultime d’un parc à dinosaures.
            Personnalisez à l’infini votre parc avec des dizaines d’espèces d’animaux disparus.
        </h1>

        <h2 class="lead mb-4">
        </h2>

        <p class="lead text-justify">
            Développé depuis 2014 par une équipe internationale de développeurs réunie dans le
            <span class="font-weight-bold">studio indépendant Shadow Raven</span>, le jeu sera disponible en
            <span class="font-weight-bold">Early access sur Steam à l’été 2019</span>, uniquement sur PC.
            Financé à 160% sur Kickstarter, vous pouvez continuer à soutenir le jeu et le
            <span class="font-weight-bold"> réserver sur</span>
            <a href="https://crytivo.com/en/prehistoric-kingdom" target="_blank">Crytivo</a>,
            à partir de <span class="font-weight-bold">16€</span>. Une
            <a href="https://store.steampowered.com/app/666150/Prehistoric_Kingdom/" target="_blank">Démo Pre-Alpha</a>
            est d’ores et
            déjà disponible <span class="font-weight-bold">sur Steam</span>.
        </p>

    </div>
    <div id="fact"></div>




    <div class="bg-green">
        <div class="container">

            <h2 class="pt-4 pb-4">Articles</h2>

            <div class="row pb-4">
                <div class="col-lg-4 col-sm-6 portfolio-item mb-3">
                    <div class="card h-100">
                        <a href="#">
                            <img class="card-img-top" src="{% static 'img/news/presentation.jpg' %}" alt="Présentation">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a class="text-success" href="{% url 'article' 1 %}">Présentation</a>
                            </h4>
                            <p class="card-text text-dark">
                                Prehistoric Kingdom France est le centre de la communauté francophone du jeu de gestion
                                Prehistoric Kingdom.
                                Retrouvez toutes les infos et actualités sur le jeu, son gameplay et l’avancée de son
                                développement.
                                Venez en discuter sur le forum !
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 portfolio-item mb-3">
                    <div class="card h-100">
                        <a href="#">
                            <img class="card-img-top" src="{% static 'img/news/gameplay.jpg' %}" alt="Gameplay">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a class="text-success" href="{% url 'article' 2 %}">Gameplay</a>
                            </h4>
                            <p class="card-text text-dark">
                                50 espèces sont disponibles, du Mésozoïque (dinosaures) au Cénozoïque (mammifères comme
                                le Mammouth ou le Tigre à dents de sabre).
                                Elles sont débloquées et créées à partir de l’ADN extrait des fossiles, récoltés par des
                                équipes de fouilles réparties partout dans le monde par le joueur.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 portfolio-item mb-3">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="{% static 'img/news/modes.jpg' %}" alt="Fonctionnalités"></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a class="text-success" href="{% url 'article' 3 %}">Modes de jeu</a>
                            </h4>
                            <p class="card-text text-dark">
                                Campagne: mécanique de jeu approfondie, déblocage de nouvelles espèces et événements
                                climatiques
                                - Scénario: missions aux scénarios préconçus, de la capture d’animaux en fuite au
                                sauvetage de parc en perdition
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <!-- Timeline Section -->
        <h2 class="pt-4 pb-4" id="timeline">Timeline</h2>

        <ul class="timeline">
            <li class="text-center mb-3">
                <span class="shadow-sm border flag">FULL RELEASE</span>
            </li>


            <li>
                <div class="direction-r">
                    <div class="flag-wrapper">
                        <span class="hexa"></span>
                        <span class="flag">Mode Ranger</span>
                    </div>
                    <div class="desc">
                        Vue à la 1ère personne et à la 3ème personne autorisant le joueur à marcher
                        dans le parc comme un ranger
                    </div>
                </div>
            </li>


            <li>
                <div class="direction-l">
                    <div class="flag-wrapper">
                        <span class="hexa"></span>
                        <span class="flag">Mode Campagne</span>
                    </div>
                    <div class="desc">
                        Sénarios et missions à objectifs
                    </div>
                </div>
            </li>


            <li>
                <div class="direction-r">
                    <div class="flag-wrapper">
                        <span class="hexa"></span>
                        <span class="flag">Patch "Aerial content"</span>
                    </div>
                    <div class="desc">
                        Mise à jour introduisant des animaux aériens et de nouveaux mécanismes de jeu
                        associés
                    </div>
                </div>
            </li>


            <li>
                <div class="direction-l">
                    <div class="flag-wrapper">
                        <span class="hexa"></span>
                        <span class="flag">Patch "Marine content"</span>
                    </div>
                    <div class="desc">
                        Mise à jour introduisant des animaux marins et de nouveaux mécanismes de jeu assocés
                    </div>
                </div>
            </li>


            <li>
                <div class="direction-r">
                    <div class="flag-wrapper">
                        <span class="hexa"></span>
                        <span class="flag">Maps et climats</span>
                    </div>
                    <div class="desc">
                        Implantation de nouvelles maps et climats
                    </div>
                </div>
            </li>


            <li>
                <div class="direction-l">
                    <div class="flag-wrapper">
                        <span class="hexa"></span>
                        <span class="flag">Animaux & bâtiments</span>
                    </div>
                    <div class="desc">
                        Ajout continu des animaux et bâtiments issus de l'Early access
                    </div>
                </div>
            </li>


            <li class="text-center mt-4 mb-4 ">
                <span class="shadow-sm border flag">EARLY ACCESS</span><span class="time-wrapper m-0 p-0"><span
                    class="time">été 2019</span></span>
            </li>

            <li>
                <div class="direction-l">
                    <div class="flag-wrapper">
                        <span class="hexa"></span>
                        <span class="flag"><i class="fas fa-check"></i> Béta fermée</span>
                    </div>
                    <div class="desc">
                        Les contributeurs Kickstarter recoivent leur clé
                    </div>
                </div>
            </li>


            <li>
                <div class="direction-r">
                    <div class="flag-wrapper">
                        <span class="hexa"></span>
                        <span class="flag"><i class="fas fa-check"></i> Contenu additionnel</span>
                    </div>
                    <div class="desc">
                        Nouveaux animaux, bâtiments, maps
                    </div>
                </div>
            </li>


            <li>
                <div class="direction-l">
                    <div class="flag-wrapper">
                        <span class="hexa"></span>
                        <span class="flag"><i class="fas fa-check"></i> Terraforming</span>
                    </div>
                    <div class="desc">
                        Ajout du terrain painting et améliorations
                    </div>
                </div>
            </li>


            <li>
                <div class="direction-r">
                    <div class="flag-wrapper">
                        <span class="hexa"></span>
                        <span class="flag"><i class="fas fa-check"></i> Gestion Appronfondie</span>
                    </div>
                    <div class="desc">
                        Fossiles, systèmes de recherche ...
                    </div>
                </div>
            </li>

            <li class="text-center mt-4 mb-4">
                <span class="shadow-sm border flag">PHASE ALPHA</span>
            </li>

            <li>
                <div class="direction-r">
                    <div class="flag-wrapper">
                        <span class="hexa"></span>
                        <span class="flag"><i class="fas fa-check"></i> Jurassic Patch</span>
                        <span class="time-wrapper"><span class="time">4 mars 2018</span></span>
                    </div>
                    <div class="desc">
                        Nouveaux bâtiments, nouvelles espèces
                    </div>
                </div>
            </li>


            <li>
                <div class="direction-l">
                    <div class="flag-wrapper">
                        <span class="hexa"></span>
                        <span class="flag"><i class="fas fa-check"></i> Kickstarter</span>
                        <span class="time-wrapper"><span class="time">Dec 2014 - Jan 2018</span></span>
                    </div>
                    <div class="desc">
                        +2000 contributeurs, 88950$ levés
                    </div>
                </div>
            </li>


            <li>
                <div class="direction-r">
                    <div class="flag-wrapper">
                        <span class="hexa"></span>
                        <span class="flag"><i class="fas fa-check"></i> Lancement du projet</span>
                        <span class="time-wrapper"><span class="time">2014</span></span>
                    </div>
                </div>
            </li>
        </ul>
        <!-- /.row -->

    </div>
{% endblock %}

{% block script %}
    <script>
        let fact_interval = setInterval(dino_fact, 8000);

        function dino_fact() {
            $('#fact').fadeOut("slow").load("{% url 'fact' %}").fadeIn('slow');
            clearInterval(fact_interval);
            fact_interval = setInterval(dino_fact, 8000);

        }

        dino_fact();


    </script>
{% endblock %}
